.header{
    color: $light;
    //background-color: $dark;
    background: rgb(33,37,41);
    background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 35%, rgba(73,80,87,1) 100%);
    border-radius: 0rem 0rem 2.5rem 2.5rem;

    &__saldo{
        font-size: x-large;
        text-align: center;
    }

    &__seccion2{
        display: flex;
        justify-content: space-around;
    }
    &__gastos{
        font-size: large;
        text-align: center;
    }

    &__ingresos{
        font-size: large;
        text-align: center;
    }
}
