.movimientos{
    position: absolute;
    top: 70vh;
    width: 100%;

    &__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icono{
        display: flex;
        width: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $danger;
    }

    &__icono p{
        margin: 0;
    }

    &__info{
        display: flex;
        flex-direction: column; /* Cambia a flex para alinear verticalmente */
        width: 50%;
    }

    &__info h6,
    &__info p {
    margin: 0; /* Elimina el margen por defecto que puede causar desalineación */
    }

    &__actions{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
    }
}
.icono2{
    color: $success;
}
.card{
    width: 90%;
}

.card1{
    border: solid 3px $danger;
}

.card2{
    border: solid 3px $success;
}

span.size-48{
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48, 'wght' 300;
}

span.size-30 {
    font-size: 30px;
    font-variation-settings: 'OPSZ' 30, 'wght' 100;
  }