.myNavbar{
    background: rgb(33,37,41);
    background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 35%, rgba(73,80,87,1) 100%);
    border-bottom: solid 1px $dark;
}
.myBrand{
    display: flex ;
    font-family: $font-family-title;
    letter-spacing: 0.3rem ;
    font-weight: 300;
    align-items: center;
}
.material-symbols-outlined{
    font-weight: 300;
}
.myThumbnail{
    background-color: $gray-500;
    border: none;
    font-size: x-large;
    width: 3rem;
    height:  3rem;
    display: flex;
    justify-content: center;
}
.myUser{
    align-self: center;
}