.myBrand{
    font-family: 'Poppins' sans-serif;
    letter-spacing: 0.5rem ;
}
.myThumbnail{
    background-color: $gray-500;
    border: none;
    font-size: x-large;
    width: 3rem;
    height:  3rem;
}