//* Import

@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Poppins&family=Ubuntu+Mono&display=swap&family=Josefin+Sans:wght@700&display=swap');

//* Brand Colors

$blue: #42a5f5;
$indigo: #5c6bc0;
$purple: #ab47bc;
$pink: #ec407a;
$red: #ef5350;
$orange: #ffa726;
$yellow: #ffee58;
$green: #66bb6a;
$teal: #26a69a;
$cyan: #26c6da;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//* Grays

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

//* Colors Map

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

//* Theme colors variables

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

//* Theme colors map

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

//* Focus

$focus-ring-opacity:    .25;
$focus-ring-color:      rgba($secondary, $focus-ring-opacity);



//* Body

$body-bg: $gray-100;
$body-color: $gray-900;

//* Links

$link-color: $secondary;
$link-decoration: none;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: underline;

//* Components

$border-radius: 0.20rem;

//* Fonts

$font-family-sans-serif: 'Poppins', 'Duru Sans', sans-serif;
$font-family-monospace: 'Ubuntu Mono', monospace;
$font-family-sans-serif-2: 'Josefin Sans', sans-serif;


